html, body {
    font-family: Candara;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    height: 10px;
}
.center {
    text-align: center;
}

.content {
    min-height: 70%;
    margin-left: 5%;
    margin-bottom: -10px;
}

.section {
    width: 40%;
    margin-left: 10%;
    text-align: center;
}

.title {
    font-size: 50px;
    color: black;
}

a.no-dec {
    text-decoration: none;
    color: black;
}
a.no-dec:hover {
    color: blue;
}

a.item {
    text-decoration: none;
    color: black;
}

a.item:hover {
    color: blue;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a {
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    color: blue;
}

nav > ul > li > a:hover {
    color: white;
    background-color: blue;
}

.active {
    color: white;
    background-color: blue;
}

.text-red {
    color: red;
}

.success-notify {
    padding: 5px;
    background-color: rgb(13, 139, 13);
    color: white;
}

.invalid {
    border: 1px solid red;
}

.form-group {
    margin-bottom: 10px;
}
 
.button {
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(34, 24, 80);
    color: white;
}

.link-button {
    text-decoration: none;
    border: 1px solid black;
    padding: 3.5px 7px;
    background-color: rgb(34, 24, 80);
    color: white;
}

.link-button:hover {
    background-color: blueviolet;
    color: white;
}

.button:hover {
    background-color: blueviolet;
    color: white;
}

.red-button {
    border: 1px solid black;
    padding: 5px;
    background-color:  rgb(185, 72, 87);
    color: white;
}

.red-button:hover {
    background-color: red;
    color: white;
}

.inline {
    display: inline;
}

.box {
    margin-bottom: 10px;
}

.profile-photo {
    float: right;
    width: 40%;
    height: 40%;
    border: 1px solid black;
}

.profile {
    width: 70%;
}
